In [30]:
import pandas as pd

In [31]:
df=pd.read_csv('winequality-red.csv',sep=';')

In [41]:
df=df.rename(columns={'fixed acidity':'fixed_acidity',
                                'volatile acidity': 'volatile_acidity',
                                'citric acid': 'citric_acid',
                               'residual sugar': 'residual_sugar',
                               'free sulfur dioxide': 'free_sulfur_dioxide',
                               'total sulfur dioxide': 'total_sulfur_dioxide'

                                }
    )

In [42]:
df.head(10)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [12]:
labels=list(df.columns)

In [13]:
labels

['fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"']

In [17]:
stop_at=len(labels)

In [18]:
stop_at

1

In [26]:
labels = list(df.columns)

In [27]:
labels

['fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"']

In [39]:
median_alcohol=revised_df.alcohol.median()

In [44]:
for i, alcohol in enumerate(df.alcohol):
        if alcohol >= median_alcohol:
            df.loc[i, 'alcohol'] = 'high'
        else:
            df.loc[i, 'alcohol'] = 'low'
df.groupby('alcohol').quality.mean()

alcohol
high    5.958904
low     5.310302
Name: quality, dtype: float64

In [46]:
median_pH = df.pH.median()
for i, pH in enumerate(df.pH):
        if pH >= median_pH:
            df.loc[i, 'pH'] = 'high'
        else:
            df.loc[i, 'pH'] = 'low'
df.groupby('pH').quality.mean()

pH
high    5.598039
low     5.675607
Name: quality, dtype: float64

In [47]:
median_sugar = df.residual_sugar.median()
for i, sugar in enumerate(df.residual_sugar):
        if sugar >= median_sugar:
            df.loc[i, 'residual_sugar'] = 'high'
        else:
            df.loc[i, 'residual_sugar'] = 'low'
df.groupby('residual_sugar').quality.mean()

residual_sugar
high    5.665880
low     5.602394
Name: quality, dtype: float64

In [48]:
median_citric_acid = df.citric_acid.median()
for i, citric_acid in enumerate(df.citric_acid):
        if citric_acid >= median_citric_acid:
            df.loc[i, 'citric_acid'] = 'high'
        else:
            df.loc[i, 'citric_acid'] = 'low'
df.groupby('citric_acid').quality.mean()

citric_acid
high    5.822360
low     5.447103
Name: quality, dtype: float64

In [49]:
# the above thing can be summerised as follows

## renaming the columns

df.columns=[label.replace(' ','_') for label in df.columns]
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,low,low,0.076,11.0,34.0,0.9978,high,0.56,low,5
1,7.8,0.88,low,high,0.098,25.0,67.0,0.9968,low,0.68,low,5
2,7.8,0.76,low,high,0.092,15.0,54.0,0.9970,low,0.65,low,5
3,11.2,0.28,high,low,0.075,17.0,60.0,0.9980,low,0.58,low,6
4,7.4,0.70,low,low,0.076,11.0,34.0,0.9978,high,0.56,low,5

In [51]:
#analysis of features
from numpy import column_stack


def numeric_to_buckets(df,column_name):
    median=df[column_name].median()
    for i , val in enumerate(df[column_name]):
        if val>=median:
            df.loc[i,column_name]='high'

        else:
            df.loc[i,column_name]='low'

for feature in df.columns[:-1]:
    numeric_to_buckets(df,feature)
    print(df.groupby(feature).quality.mean(),'\n')

fixed_acidity
high    5.726061
low     5.540052
Name: quality, dtype: float64

volatile_acidity
high    5.392157
low     5.890166
Name: quality, dtype: float64

TypeError: could not convert string to float: 'low'